footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    color: $white;
    line-height: 1.4;
    background-color: $darken-blue;
    z-index: 1;
    span {
        display: block;
        > span {
            display: inline-block;
        }
    }
}

body {
    &.index-page {
        footer {
            position: relative;
        }
    }
    &.inner-page {
        padding-bottom: calc((1.4 * 1rem * 5) + 40px);
        min-height: 100%;
        height: auto;
        @include breakpoint(513px) {
            padding-bottom: calc((1.4 * 1rem * 4) + 40px);
        }
        @include breakpoint(571px) {
            padding-bottom: calc((1.4 * 1rem * 3) + 40px);
        }
    }
}

