footer {
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: $white;
    // color: $white;
    // background-color: $darken-blue;
    z-index: 1;
    span {
        display: block;
        > span {
            display: inline-block;
        }
    }
}