.opening {
	position: relative;
	min-height: 100%;
	height: 100%;
	&::before {
		@include beforeafter('', block);
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		// background-color: $black;
		// @include opacity(0.2);
		z-index: 1;
	}
	video {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		z-index: 0;
	}
	.container {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		min-height: 100%;
		height: 100%;
		align-content: center;
		justify-content: center;
		z-index: 2;
		> * {
			color: $white;
			text-align: center;
		}
		> .img {
			width: 100%;
			img {
				display: block;
				width: 100%;
				max-width: 670px;
				margin-left: auto;
				margin-right: auto;
			}
		}
		> .text {
			display: flex;
			flex-wrap: wrap;
			width: 100%;
			align-content: center;
			justify-content: center;
			> h2 {
				margin-left: 7.5px;
				margin-right: 7.5px;
				font-size: 1.375rem;
				line-height: 1;
				@include breakpoint(1024px) {
					margin-left: 10px;
					margin-right: 10px;
					font-size: 1.875rem;
                }
			}
		}
		> a.btn {
			display: table;
			padding: 10px 30px;
			color: $black;
			font-size: 1.25rem;
			background-color: $orange;
			&:hover {
				background-color: $yellow;
			}
		}
	}
}
