$white: #fff;
$black: #000;
$gray-100: #666;
$gray-200: #a0a0a0;
$gray-300: #c4c4c4;
$gray-400: #ddd;
$gray-500: #f0f0f0;

$yellow: #ffcc00;
$orange: #ffa500;
$darken-blue: #004164;

$cw: #D60C18;

$icomoon-font-family: "cwef2021" !default;
$icomoon-font-path: "../fonts" !default;

$icon-check: "\e900";
$icon-chevron-down: "\e905";
$icon-chevron-left: "\e901";
$icon-chevron-right: "\e902";
$icon-chevron-up: "\e906";
$icon-play-circle: "\e903";
$icon-x: "\e904";
